<template>
  <div>
    <div class="field is-grouped">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" :value="2018" v-model="selectedYears">
          2018 Sales
        </label>
      </div>
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" :value="2017" v-model="selectedYears">
          2017 Sales
        </label>
      </div>
    </div>

    <line-chart
      :width="500"
      :height="300"
    ></line-chart>
  </div>
</template>

<script>
import numeral from 'numeral';
import CircleChart from './CircleChart';

export default {
  name: 'monthly-sales-chart',
  components: {
    CircleChart
  }
}
</script>
